#article1-img11{
    width: 282px;
    height: 221px;
}
#article1-img12{
    width: 229px;
    height: 221px;
}
#article1-img14{
    width: 236px;
    height: 221px;
}
#article1-img13{
    width: 265px;
    height: 221px;
}
#article1-img21{
    width: 287px;
    height: 221px;
}
#article1-img22{
    width: 235px;
    height: 221px;
}
#article1-img23{
    width: 237px;
    height: 221px;
}
#article1-img32{
    width: 284px;
    height: 221px;
}
#article1-img33{
    width: 229px;
    height: 221px;
}
#article1-img34{
    width: 247px;
    height: 221px;
}
#article1-img41{
    width: 248px;
    height: 221px;
}
#article1-img42{
    width: 230px;
    height: 221px;
}
#article1-img43{
    width: 288px;
    height: 221px;
}
#article1-img44{
    width: 256px;
    height: 221px;
}
#article1-img24{
    width: 250px;
    height: 221px;
}
#article1-img31{
    width: 258px;
    height: 221px;
}#article1-img51{
    width: 235px;
    height: 221px;
}
#article1-img52{
    width: 235px;
    height: 221px;
}
#article1-img53{
    width: 235px;
    height: 221px;
}
#article1-img54{
    width: 229px;
    height: 221px;
}
#article1-img61{
    width: 235px;
    height: 221px;
}
#article1-img62{
    width: 245px;
    height: 221px;
}
#article1-img63{
    width: 235px;
    height: 221px;
}
#article1-img64{
    width: 235px;
    height: 221px;
}
#article1-img71{
    width: 235px;
    height: 221px;
}
#article1-img72{
    width: 235px;
    height: 221px;
}
#article1-img73{
    width: 234px;
    height: 221px;
}
#article1-img74{
    width: 235px;
    height: 221px;
}
#article1-img81{
    width: 235px;
    height: 221px;
}
#article1-img82{
    width: 235px;
    height: 221px;
}
#article1-img83{
    width: 235px;
    height: 221px;
}
#article1-img84{
    width: 235px;
    height: 221px;
}